strong {
	font-weight: bold;
}

#auto-teaser-settings {
	width: 60%;
}

#auto-teaser-settings i {
	margin-right: 5px;
}

#auto-teaser-settings input[type="text"] {
	height:   28px;
	position: relative;
	top:      1px;
}

#auto-teaser-settings textarea {
	height: 100px;
	resize: vertical;
	width:  100%;
}

#auto-teaser-settings #row-teaser-format #teaser-character-counter {
	color:     #999;
	font-size: 12px;
	padding:   3px;
	position:  relative;
	top:       -4px;
}

#auto-teaser-settings #row-teaser-format #teaser-format-preview {
	background: #e0e0e0;
	font-size:  12px;
	margin-top: 20px;
	padding:    5px;
}

#auto-teaser-settings #row-teaser-format #teaser-format-placeholders code {
	cursor:    pointer;
	font-size: 12px;
}

#auto-teaser-settings #row-teaser-format #teaser-format-placeholders .placeholder-example {
	display: none;
}

#auto-teaser-settings #row-teaser-format #teaser-format-placeholders th,
#auto-teaser-settings #row-teaser-format #teaser-format-placeholders td {
	font-size:      12px;
	padding-bottom: 0;
}

#auto-teaser-settings #row-teaser-split-style #teaser-split-value {
	width: 40px;
}

#auto-teaser-settings #row-exclude-ids #exclude-ids {
	width: 100%;
}

#auto-teaser-settings #row-backup-teaser #backup-teaser-custom-text {
	height: 60px;
}